<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task </title>
</head>
<body>
  
  <div class='container all'>
    <div class="row">



        


        <div class='col-lg-2'>
            <div class='menu'>
              <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
              <i class="fa fa-twitter"></i>
              <h1>Cofeed...</h1>
              <hr class='logo'>
              <div class="menu-data">
                <i class="fa fa-twitter"></i>   <p><i class="fa fa-twitter"></i>Home</p>
                <p><i class=" third-icon fa fa-twitter"></i>Messages</p>
                <p><i class=" third-icon fa fa-twitter"></i>profile</p>
                <p><i class=" third-icon fa fa-twitter"></i>Sava Post</p>
                <p><i class=" third-icon fa fa-twitter"></i>Setting</p>
              </div>
              <i class="fa fa-twitter"></i>
            </div><!--End Class Menu-->
        </div>



    
      
        <div class='col-lg-7'>
            <div class='feeds'>
              <h1>Feeds</h1>
            </div><!--End Class Feeds-->
        </div>
      
  



    
      
        <div class='col-lg-3'>
            <div class='follow'>
              <h1>Follow</h1>
            </div><!--End Class Follow-->
        </div>
      






      
    </div> <!--End Class Row-->
  </div> <!--End Class Container-->


  <i class=" third-icon fa fa-twitter"></i>
  <i class=" third-icon fa fa-linkedin"></i>
  <i class=" third-icon fa  fa-google"></i>




  




  



<!--         
            <i class="third-icon fa fa-facebook-f"></i>
            <i class=" third-icon fa fa-twitter"></i>
            <i class=" third-icon fa fa-linkedin"></i>
            <i class=" third-icon fa  fa-google"></i>
            <i class=" third-icon fa fa-instagram"></i>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>
-->

</body>
</html>